	.container {
	
	display: flex;
	flex-wrap: wrap;
}

.news {
	width: 100%;
}

.header__menu {
  display: none;
}


@media screen and (max-width: 479px) {
		
   .header__logo {
    height: 48px;
    margin-right: 0.5em;
  }
  .header__title {
    margin-left: 0;
    font-size: 2em;
    vertical-align: bottom; 
  }
  .nav {
    z-index: 10;
    background-color: #fff;
    width: 130px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-130px, 0);
    transform: translate(-130px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.2s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }
  .header__menu svg {
    width: 32px;
    fill: black;
  }
	
}

@media screen and (min-width: 480px) {
	
	.hero {
		width: 40%;
		float: left;
	}
	
	 .top-news {
		width: 60%;
		float: left;
	}
	
	.scores {
		width: 58%;
		float: left;
	}
	
	.weather {
		width: 42%;
		float: left;
	}
	
	.top-news {
  height: 300px;
	}
	
	.hero article {
	height: 53%;
	font-size: 11px
	}
	
	.nav  {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
	}
}


@media screen and (min-width: 850px) {
	
	.nav  {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
	}
	
  main, .header__inner, .content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }


	